@{
    ViewBag.Title = "About";
}


<div class="jumbotron jumbotronHome">
    <h1>About Us!</h1>
    <p class="lead">Our website has everything youll need to keep your pet happy and healthy as well as help you pick the right dog for you</p>
    <p><a href="~/Views/Pets/Index.cshtml" class="btn btn-primary btn-lg">Browse Dog Breeds! &raquo;</a></p>

</div>
<!--https://startbootstrap.com/template-overviews/business-casual/-->
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Who
                    <strong>We</strong>
                    Are
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-right" src="~/Resources/logoBig.png" alt="">
            </div>
            <div class="col-md-6">
                <br />
                <br />
                <br />
                <br />
                <p>Here at the Pet Health Asistant we...</p>
                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Some of our
                    <strong>favourites!</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="~/Resources/beagle.jpg" alt="">
                <h3>
                    Beagle
                    <small>Always Happy</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="~/Resources/kerry-blue-terrier-2.jpg" alt="">
                <h3>
                    Kerry Blue Terrier
                    <small>Strong and Bearded</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="~/Resources/German Shephard.jpg" alt="">
                <h3>
                    German Shephard
                    <small>Loyal, Protective</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<hr>
<h2 class="intro-text text-center">
    <strong>Where we are situated</strong>
</h2>
<hr>

<iframe width="1150"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAy-lpvYfCQMLybkMAANpcTp3SyXWlfvTI
    &q=Stephens+Green,Dublin+Ireland
        record+stores+in+Dublin" allowfullscreen></iframe>
<br />
<div class="container">
    <h2 class="text-center">Have any concerns or Questions></h2>
    <p class="text-center"><a href="~/Views/Home/Contact.cshtml" class="btn btn-primary btn-lg">Go here! &raquo;</a></p>
</div>


